<%- include("../partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

<div class="ui fluid container">
  <div class="ui text container">
      <h2 id="title" class="ui image header">
        <div class="content"><%=blog.title%></div>
      </h2>
      <% if(blog.filename !== '') {%>
          <img id="blog-img" class="ui rounded image" src="/<%=blog.filename%>">
      <%}else{%>
        <img id="blog-img" class="ui rounded image" src="/<%=blog.filenameCopy%>">
      <%}%>

    
    <div id="markdown" class="ui item">
      <div>
        <%-blog.sanitizedHtml%>
      </div>
    </div>

    <!--Edit and Update buttons-->
    <div class="actions">
      <%if(currentUser && blog.author.id.equals(currentUser._id)){%>
        <a id="edit-btn" class="ui blue button" href="/blogs/edit/<%=blog.id%>">Edit</a>
        <form id="delete-form" action="/blogs/<%=blog.slug%>?_method=DELETE" method="POST">
          <button id="delete-btn" class="ui red button">Delete</button>
        </form>
      <%}%>
    </div>
  </div>
    
</div>



<%- include("../partials/footer") %>