<%- include("../partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

<div class="ui fluid container">
  <div class="ui text container">
      <h2 id="title" class="ui image header">
        <div class="content"><%=blog.title%></div>
      </h2>

      <img id="blog-img" class="ui rounded image" src="/<%=blog.filename%>">

    <div id="meta-data" class="ui item">
      <div class="content">
        <a class="header"><%=blog.author.username%></a>
        <div class="meta">
          <span><%=blog.date.toDateString()%></span>
        </div>
      </div>
    </div>
    <div id="markdown" class="ui item">
      <div>
        <%-blog.sanitizedHtml%>
      </div>
    </div>

    <!--Edit and Update buttons-->
    <div class="actions">
        <a id="edit-btn" class="ui green button" href="/blogs/<%=blog.slug%>/edit">Edit</a>
        <a id="delete-btn" class="ui red button">Delete</a>
    </div>
  </div>
    
</div>



<%- include("../partials/footer") %>