<%- include("partials/header") %>

<h2 id="blogs-header" class="ui image header">
  <i class="fas fa-code" style="font-size:xx-large;"></i>
  <div class="content">Articles</div>
</h2>

<div class="ui grid container">
  <% blogs.forEach(blog => { %>
    <div class="four wide column">
        <div class="ui link special card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <a class="ui inverted button" href="/blogs/<%=blog.slug%>">Read</a>
                  </div>
                </div>
              </div>
              <% if(blog.filename !== '') {%>
                <img src="/<%=blog.filename%>" style="height: 145px;">
              <%}else{%>
                <img src="/<%=blog.filenameCopy%>" style="height: 145px;">
              <%}%>
            </div>
            <div class="content">
              <a class="header" href="/blogs/<%=blog.slug%>"><%=blog.title%></a>
              <div class="meta">
                <span style="font-weight: 600;">
                  <% if(blog.desc.length > 100){ %>
                      <%blog.desc = blog.desc.slice(0, 100);%>
                      <%blog.desc = blog.desc.concat("...");%>
                  <%}%>
                  <%=blog.desc%>
                </span>
              </div>
            </div>
            <div class="extra content date" style="display:flex; justify-content: space-evenly;">
              <a>
                <%=blog.date.toLocaleDateString()%>
              </a>
              <a id="meta-author">by <%=blog.author.username%></a>
            </div>
          </div>
    </div>
    <% }) %>
</div>

<script type="text/javascript" src="/scripts/index.js"></script>



<%- include("partials/footer") %>